@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



body {
    font-family: 'Poppins', sans-serif;
}

.header {
    background-image: url("../img/banner-1.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.logo {
    position: absolute;
    top: 9%;
    left: 10%;
    transform: translate(-30%, -30%);

}

.logo img {
    width: 250px;
    margin: 30px;

}

.main ul {
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main ul li {
    display: inline-block;
}

.main ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s easE;
}

.main ul li a:hover {
    background-color: beige;
    color: gold;
}

.tech {
    display: flex;
    justify-content: space-between;
    margin: 100px 150px 100px 150px;
}

.techbox {
    width: 240px;
    height: 220px;
    padding: 25px 20px;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    box-shadow: #ccc 0 0 17px;
    text-align: left;
}

.techbox:hover {
    background-color: #3fbbc0;
    color: #fff;
}

.techbox h5 {
    font-size: 20px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    padding: 15px 15px;
}

.techbox p {
    font-size: 16px;
    line-height: 28px;
    font-family: "Open Sans", sans-serif;
    text-align: left;
    margin-left: 10px;
}

.form {
    padding: 64px;
    display: flex;
    justify-content: space-between;
    background-color: #f7fcfc;
    width: 90vw;
}

.form2 .box::placeholder {
    padding-left: 10px;
}

.form2 .box,
.dropdown1,
.dropdown2 {
    height: 40px;
    width: 400px;
    margin: 12px;
}

.about-header>.make {
    background-color: #f7fcfc;
    padding: 5px 0px;
}

.form2 textarea {
    width: 1280px;
    font-family: "Poppins", sans-serif;

}

.form2 button {
    background-color: #3fbbc0;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    padding: 12px 30px;
    margin: 25px 550px;
    cursor: pointer;
}

footer {
    font-family: "Poppins", sans-serif;
}

.footer-top {
    height: 35vh;
    display: flex;
    justify-content: space-between;
    background-color: #f6f6f6;
    padding: 80px 110px;
    font-family: "Poppins", sans-serif;
    margin-top: 50px;
}

.newsletter .box {
    color: #fff;
    height: 40px;
    border: none;
    width: 180px;
    margin-top: 30px;
}



.newsletter .button {
    background-color: #3fbbc0;
    color: #fff;
    height: 40px;
    width: 100px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

address h3 {
    font-size: 20px;
    font-weight: 600;
    color: #555555;
    font-family: "Poppins", sans-serif;
}

address {
    font-size: 14px;
    line-height: 18px;
    color: #555555;
}

footer h4 {
    font-size: 18px;
    font-weight: 600;
    color: #555555;
}

.useful-links ul li {
    list-style: inside;
    line-height: 30px;
    color: #3fbbc0;
}

.useful-links ul li a {
    text-decoration: none;
    color: #555555;

}

.our-services ul li {
    list-style: inside;
    line-height: 30px;
    color: #3fbbc0;
}

.our-services ul li a {
    text-decoration: none;
    color: #555555;
}

.our-services {
    width: 200px;
    color: #555555;
}

.bottom {
    height: 15vh;
    background-color: #eeeeee;
    align-items: center;
}

.copyright {
    color: #555555;
    font-family: "Open Sans", sans-serif;
    line-height: 25px;
    text-align: center;
    padding: 30px 0px;
}

.copyright span {
    font-weight: 600;
}

.copyright a {
    text-decoration: none;
    color: #3fbbc0;
}

.page-name h6 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
    font-family: "Roboto", sans-serif;
    color: #2f2f2f;
    text-decoration: underline;
    text-decoration-color: #3fbbc0;
    text-underline-offset: 15px;
}

.banner-content {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    border-top: 4px solid #3fbbc0;
    width: 1200px;
    height: 200px;
    top: 60%;
    left: 10%;
    position: absolute;
}

.banner-content h2 {
    color: #2f2f2f;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

.banner-content p {
    color: #555555;
    margin: 0 50px;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    line-height: 25px;
}

.banner-content .btn-primary {
    margin-top: 15px;
    background: #3fbbc0;
    color: #fff;
    border-radius: 4px;
    padding: 12px 32px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.about-us {
    display: flex;
    justify-content: space-between;
}

.about-img img {
    margin: 50px;
    width: 40vw;
}

.about {
    margin: 50px 30px;
}

.fixed-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #3fbbc0;
    color: #fff;
    display: inline-block;
    border-radius: 3px;
    width: 35px;
    height: 35px;
}

.fixed-top i {
    padding: 0 0 0 9px;
    font-size: 25px;
}

.contact {
    height: 270px;
    width: 1350px;
    box-shadow: #3fbbc0 0 0 17px;
    margin: 0 0 100px 100px;
    display: flex;
    justify-content: space-evenly;

}

.link {
    margin: 50px;
}

.link img {
    width: 180px;
}

.client-top {
    display: flex;
}

.c-right {
    width: 45%;
    margin: 0 90px 0 30px;
}

.ion-android-checkmark-circle {
    color: #3fbbc0;
    padding: 5px;
    font-size: 18px;
}

.c-left img {
    margin: 0 30px 0 90px;
    width: 70%;
}

.client-bottom {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    text-align: center;
}

.client-bottom h1 {
    font-size: 18px;
    margin: -8px;
    font-weight: 300;
    color: #555555;
}

.client-bottom h2 {
    font-size: 48px;
    margin: -8px;
    font-weight: 500;
    color: #3fbbc0;
}